.form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 2;
}

.form-top-bar {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 10px 19px -7px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-between;
}

.form-buttons {
  display: flex;
  padding: 0 0.5rem;
}

.form-buttons svg {
  width: 2.1rem;
}

.form-buttons svg path {
  fill: $secondary-color;
}

.form-buttons button:hover svg path {
  fill: $hover-color;
}

.form-row {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form-element {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}

.form-element-label label {
  font-weight: 400;
}

.form-element-input * {
  background-color: $tertiary-color;
  border: none;
  border-bottom: 0.2rem solid white;
  box-sizing: border-box;
  font-size: 1rem;
  height: 2rem;
  outline: transparent;
  padding: 0.5rem;
  width: 100%;
}

.form-element-input *.error {
  border-bottom: 0.2rem solid $red-color;
}

.form-element-input input[type="number"]::-webkit-outer-spin-button,
.form-element-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-element-input input[type="date"]::-webkit-calendar-picker-indicator,
.form-element-input input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $tertiary-color inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: hsl(0, 0%, 100%) !important;
}

.form-element-input textarea{
  height: 20vh;
  resize: none;
}
