.tooltiptext{
  background-color: $secondary-color;
  border: 0.2rem solid hsl(0, 0%, 100%);
  box-shadow: 5px 10px 19px -7px rgba(0,0,0,0.75);
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  opacity: 0;
  padding: 0.5rem 0;
  pointer-events: none; 
  position: absolute;
  text-align: center;
  top: 3rem; 
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  width: 120px;
  z-index: $z-index-tooltip;
}

.tooltiptext::after {
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent hsl(0, 0%, 100%) transparent;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: -60%;   
}

button{
  position: relative;
}

button:hover > .tooltiptext{
  opacity: 1;
  visibility: visible;
}


