//z-index
$z-index-checkout: 999;
$z-index-product: 1000;
$z-index-slider: 1001;
$z-index-modal: 2000;

//typography
$font-stack: 'Roboto', sans-serif;
$font-stack-condensed: 'Roboto Condensed', sans-serif;

//colors
$primary-color: hsl(226, 63%, 45%);
$hover-color: hsl(18, 100%, 57%);
$secondary-color: hsl(207, 85%, 69%);

//style
$text-border: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;